@import "tailwindcss";

/* defaults */

* {
  user-select: none;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar{
  display: none;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.btn:not(:disabled) {
  cursor: pointer;
}